.formInput{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 5px;
    width: 300px;
    
    
    
}
input{
    padding: 10px;
    margin: 5px 0px;
    border-radius: 15px;
    border:1px solid #ccc;
}

label{
    color :gray;
    font-size: 12px;
}

span{
    width: fit-content;
    color: red;
    font-size: 12px;
    padding: 5px;
    display: none;

}
.password-input input:invalid {
    border-color: red;
  }
  
  .password-input span {
    display: none;
  }
input:invalid[focused="true"]{
    border:1px solid red;
}
input:invalid[focused="true"] + span{
    display: block;
}