.body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    

}

.texto{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    margin: 1rem;
    padding: 2rem;
}
.container{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content:flex-start;
    flex-wrap: wrap;
    gap: 1.25rem;
    
}

.boton_crear{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    background-color: #e6e6eb;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border:none;
}

.lista_decks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    
}