
body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh; ;
}



.boton_crear{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    background-color: #e6e6eb;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border:none;
}
.body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #e6e6eb;
    flex:1;

}
.lista_decks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    
}

.texto_cont_Deck{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #e6e6eb ;
    font-weight: 600;
    flex-wrap: wrap;
    margin-top: 15px;
    padding-top: 20px;
    margin-left: 3rem;
    padding-right: 3rem;

    
}

.texto_cont_Deck h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 900;
    /* padding-left: 5.2rem; */
}

.texto_cont_Deck h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 900;
    /* padding-left:5.2rem ; */
}
.texto_cont_Deck h4{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 900;
    /* padding-left:5.2rem ; */
}
.wave-decklist{
    width: 100vw;
    
}

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content:flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    
}