
body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh; ;
}
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;


}

.row-listaCarta{
    flex:1;
}

.body_cartas{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.container_cartas{
    display: flex;
    /* flex-direction: row;
    align-items:flex-start;
    align-content: flex-start; */
    justify-content:flex-start;
    flex-wrap: wrap;
    gap: 1.25rem;
    
}

.boton_crear_carta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 200px;
    background-color: #e6e6eb;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border:none;
}


.texto_cont{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
    color: #e6e6eb ;
    font-weight: 600;
    flex-wrap: wrap;
    margin:10px;
    padding: 20px;
    padding-left: 4rem;
    
    
}

.texto_cont h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 900;
    
}

.texto_cont h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 900;
    
}

.comenzar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 30px;
    background-color:#B6C61A;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border:none;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 900;
    color: #e6e6eb;
    cursor: pointer;
    transition: 0.3s;
    

}

.comenzar:hover{
    background-color: #e6e6eb;
    color: #B6C61A;
    transition: 0.3s;
}
.row-comenzar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

#root{
    min-height: 100vh;
}

.row-listaCarta{
    height: 100px;
}

.row_cartas{
    gap: 1.25rem;
}