.mazo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    background-color: #e6e6eb;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.mazo_texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0,0,0,0.3);
    border-radius: 20px;
    padding: 10px;

}
.botones_mazo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    gap: 5px;
}
.boton_start{
    border: none;
    color: #e6e6eb;
    background-color: rgb(68,185,196,1);
    border-radius: 10px;
    padding: auto;
}
.boton_start:hover{
    background-color: rgb(68,185,196,0.5);
    cursor: pointer;
}

.boton_edit{
    border: none;
    color: #e6e6eb;
    background-color: rgb(68,185,196,1);
    border-radius: 10px;
    padding: auto;
}
.boton_edit:hover{
    background-color: rgb(68,185,196,0.5);
    cursor: pointer;
}
.boton_delete{
    border: none;
    color: #e6e6eb;
    background-color: rgb(68,185,196,1);
    border-radius: 10px;
    padding: auto;
}

.boton_delete:hover{
    background-color: rgb(68,185,196,0.5);
    cursor: pointer;
}