*{
    margin: 0 !important;
    padding: 0;
    

}

body{
    font-family: playfair display;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-nav{
    margin-left: auto;  
}
.navbar{
    background-image: linear-gradient(to right,rgba(69,106,135,1),rgba(68,185,196,1) );
    padding: 0 !important;

}
.navbar-brand img{
    height: 40px;
    padding-left: 20px;
    
}
.navbar-brand{
    color: #fff !important;
    font-size: 1.8rem;
    font-weight: bold;
    
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    float: right;
    text-align: left;
    color:#fff !important;
    font-weight: 600;
    font-size: 1.3rem;
    align-items: right;
}

.navbar-toggler{
    outline: none !important;
}

#banner{
    width: 100%;
    background-image: linear-gradient(to right,rgba(69,106,135,1),rgba(68,185,196,1) );
    color:#e6e6eb;
    padding-top: 5%;
    text-decoration: none;
    
}
#banner-text{
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 10%;
    padding-bottom: 10%;
    
}
.text{
    font-family: Georgia!important;
}
.promo-title{
    font-size: 3.5rem;
    font-weight: 600;
    margin-top: 100px;
}
.bottom-img{
    width: 100%;
}
#banner-text{
    font-family: sans-serif;
    font-size: 1.5rem;
}

#activeRecall{
    background-color: #e6e6eb;
    
    
}
#aRimg{
    width: 100%;
    height: 100%;
    margin: 10px;
    padding: 5%;
}
#activeRecall-text{
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 10%;
    padding-bottom: 10%;
    
}
.aR-tittle{
    font-size: 3rem;
    font-weight:900;
    background: linear-gradient(to right,rgba(69,106,135,1),rgba(68,185,196,1) );
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
}
 #listaH{
    background-color: #e6e6eb;
    padding: 10%;
 }
.list-group-item{
    display: flex;
    align-items: center;
    background-color: #e6e6eb;
    border: none;

    
}
.n-icon{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    align-items: end;
    fill: url(#icon) #447799;
    
}
#lista-n{
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 10%;
    padding-bottom: 10%;
    color: #000;
    background-color: #e6e6eb;
}


/* FOOter */
#footer{
    background-image: linear-gradient(to right,rgba(69,106,135,1),rgba(68,185,196,1) );
}
.footer-img{
    width: 100%;
}
.footer-box{
   padding: 20px;
}
.footer-box img{
    width: 50px;
    margin-bottom: 20px;
}
.footer-box bi{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-left: 7px;
    border-radius: 5px;
}
.footer-logo{
    color: #fff !important;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
}

.bL-footer{
    padding: 30px;
    margin: 30px;

}








